In [42]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\natan\anaconda3\lib\site-packages (2.1.1)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
import MySQLdb
import csv 
import sys
import mysql.connector as msql

In [44]:
db=MySQLdb.connect(host='localhost', user='root',  password='rkrk1313')

cursor=db.cursor()

In [45]:
csv_data=csv.reader(open('C:/Users/natan/Downloads/Ref_skills.csv'))

In [46]:
header=next(csv_data)

In [47]:
print("Importing the file")

Importing the file

In [48]:

for row in csv_data: 
    print(row)
    cursor.execute("INSERT INTO skills (PM , BK, MC, DE, FT)) VALUES (%s, %s, %s, %s, %s)", row)
db.commit()
cursor.close()

['Imperatif', 'Python', 'Spring boot', 'MongoDB', 'Html']

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ') VALUES ('Imperatif', 'Python', 'Spring boot', 'MongoDB', 'Html')' at line 1

In [ ]:
print('Done')